<h2>{{viewTitle}}</h2>
<br>
<style>
  input[type=text],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #DAA520;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #F0E68C;
  }
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  body{
      background-image: url('https://cdn.pixabay.com/photo/2020/09/15/15/56/background-5574027_1280.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      background-attachment: fixed;
  }
  h2{
    color:#DAA520;
  }
</style>
<div class="form-group">
  {{#if isUpdate}}
  <form action="/task/edited/{{id}}" method="POST" autocomplete="off">
    {{else}}
    <form action="/task" method="POST" autocomplete="off">
      {{/if}}

      <label for="fname">Task</label>
      <input type="text" id="fname" name="taskName" placeholder="Title of task..." value="{{taskName}}">

      <label for="lname">Task Description</label>
      <input type="text" id="lname" name="taskDesc" placeholder="Describe your task..." value="{{taskDesc}}">

      <input type="submit" value="{{btn}}">
    </form>
</div>